.politicas {
  color: #0F1010;
  padding: 100px 20px;
}

.politicas p{
 margin: 5px 0px;
}

.politicas h4{
  margin-top: 40px;
}

.politicas h5{
 font-style: italic;
 margin-top: 10px;
}

.politicas ul{
 margin-top: 10px;
}

.politicas ul li{
  margin-left: 10%;
}

.subtitle {
  text-transform: uppercase;
  margin-top: 20px;
  font-weight: 600;
  display: block;
}

.box-politica {
  display: flex;
  gap: 5px 20px;
  margin-top: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.box-politica a:hover{
  color: #286834;
}

.menu-atual {
  color: #286834;
}
